<!--Using flow bite-->

<div class="mb-6">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
    label
  }}</label>
  <input
    [type]="type"
    [(ngModel)]="value"
    (input)="setValue($event)"
    [placeholder]="placeholder"
    (blur)="onTouched()"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
  <div class="text-red-400 mt-2" *ngIf="formControl.touched">
    <div *ngIf="formControl.errors && formControl.errors['required']">
      This field is required.
    </div>
    <div *ngIf="formControl.errors && formControl.errors['email']">
      Invalid email format.
    </div>
    <div *ngIf="formControl.errors && formControl.errors['pattern']">
      Invalid input format.
    </div>
    <div *ngIf="formControl.errors && formControl.errors['min']">
      Input must be greater than or equal to
      {{ formControl.errors['min']!.min }}.
    </div>
    <div *ngIf="formControl.errors && formControl.errors['max']">
      Input must be less than or equal to {{ formControl.errors['max']!.max }}.
    </div>
    <div *ngIf="formControl.errors && formControl.errors['minlength']">
      Input must have a minimum length of
      {{ formControl.errors['minlength']['requiredLength'] }} characters.
    </div>
    <div *ngIf="formControl.errors && formControl.errors['maxlength']">
      Input must have a maximum length of
      {{ formControl.errors['maxlength']['requiredLength'] }} characters.
    </div>
  </div>
</div>
