<section class="p-2 grid gap-4">
  <h1 class="text-2xl text-center" data-cy="products_heading">Products</h1>
  <button
    (click)="gotoCreateProduct()"
    type="button"
    class="button primary"
    data-cy="product_add_button"
  >
    Add new product
  </button>

  <section data-cy="products_container" class="grid gap-2 grid-cols-1 md:grid-cols-3 lg:grid-cols-4" *ngIf="products$ | async as products">
    <div data-cy="product_item" *ngFor="let product of products" class="flex flex-col justify-center gap-2 items-center p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="h-40 w-full rounded-lg overflow-hidden object-contain">
          <img class="w-full h-full object-cover" defaultImg [src]="product.image" [alt]="product.name">
        </div>
        <a routerLink="/products/view/{{product.id}}" class="hover:underline">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.name}}</h5>
        </a>



<!--      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{product.description}}</p>-->

      <div class="flex gap-2">

        <a routerLink="/products/view/{{product.id}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 ">
          Details
        </a>
        <a routerLink="/products/update/{{product.id}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-accent rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 ">
          Update
        </a>
        <button (click)="productDeleteHandler(product.id)" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-accent rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 ">
          Delete
        </button>
      </div>
    </div>

  </section>

</section>
