<section class="p-2 grid gap-4">
  <h1 class="text-2xl text-center">Products Form</h1>
  <button (click)="goToProductListing()"  class="button gray" data-cy="product_back_button">
    Back
  </button>

  <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="submit()">
    <app-input formControlName="name" placeholder="Mac Book Pro" label="Name"></app-input>
    <app-input formControlName="price" [type]="'number'" placeholder="3499.00" label="Price"></app-input>
    <app-input formControlName="description" placeholder="The MacBook is Apple's ..." label="Description"></app-input>
    <app-input formControlName="image" placeholder="https://pixabay.com/product/example" label="Image URL"></app-input>
    <app-input formControlName="videoUrl" placeholder="https://youtu.be/example" label="Video URL"></app-input>
    <button class="button accent" type="submit">
      {{title.getTitle()}}
    </button>
  </form>

</section>
